:host {
  .container {
    padding: 20px;
    text-align: center;
  }

  .loader {
    padding: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    > div {
      margin-top: 8px;
    }

    ::ng-deep {
      mat-spinner {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .expert-item {
    text-align: center;
  }

  .profile-photo {
    height: 100px;
    width: 100px;
    max-height: 100px;
    max-width: 100px;

    img {
      height: 100%;
      width: 100%;
      border: 2px solid black;
      border-radius: 50%;
    }
  }

  .full-name {
    margin-top: 5px;
    display: block;
    text-align: center;
    color: #3498db;
    font-weight: bold;
  }

  .specialization {
    display: block;
    text-align: center;
    font-weight: normal;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .book-btn {
    background: black;
    color: #3498db;
    padding: 4px 11px;
    margin-top: 5px;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    font-size: 17px;
  }

  .box {
    display: inline-block;
    padding: 10px 8px;
    margin-top: 5px;
    border: 2px solid black;
    text-align: center;
  }
}
