<div *ngIf="state.isLoading" class="loader">
  <mat-spinner></mat-spinner>
  <div>Loading...</div>
</div>
<div class="container" *ngIf="!state.isLoading">
  <div class="profile-photo mx-auto">
    <img [src]="dataSource.profilePicture" [alt]="dataSource.fullName">
  </div>
  <h1 class="full-name">{{dataSource.fullName}}</h1>
  <h2 class="specialization">{{dataSource.specialization}}</h2>
  <div class="box">
    <div><b>Country: </b> {{dataSource.country}}</div>
    <br>
    <div><b>Working Hours: </b> {{dataSource.workingHours.openTime + ' -> ' + dataSource.workingHours.closeTime}}</div>
  </div>
  <div class="actions">
    <button class="book-btn" [routerLink]="['/experts/' + dataSource.id + '/calendar']">Book Now</button>
  </div>
</div>
