:host {
  .expert-item {
    text-align: center;
  }

  .profile-photo {
    height: 100px;
    width: 100px;
    max-height: 100px;
    max-width: 100px;

    img {
      height: 100%;
      width: 100%;
      border: 2px solid black;
      border-radius: 50%;
    }
  }

  .full-name {
    margin-top: 5px;
    display: block;
    text-align: center;
    color: #3498db;
    font-weight: bold;
  }

  .specialization {
    display: block;
    text-align: center;
    font-weight: normal;
  }

  .more-info-btn {
    background: black;
    color: #3498db;
    padding: 4px 11px;
    margin-top: 5px;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
  }
}
