<div class="expert-item">
  <div class="profile-photo mx-auto">
    <img [src]="dataSource.profilePicture" [alt]="dataSource.fullName">
  </div>
  <h2 class="full-name">{{dataSource.fullName}}</h2>
  <h3 class="specialization">{{dataSource.specialization}}</h3>
  <button class="more-info-btn" [routerLink]="['/experts/' + dataSource.id]">More Info</button>
</div>
