<div>
    <p>
        Your appointment will be on <br><br>
        {{date}} <br><br>
        from {{from}} to {{to}}
    </p>
    <div>
        <button mat-raised-button color="primary" [routerLink]="['/experts']">Go Home!</button>
    </div>
</div>
