<div>
    <div *ngIf="state.isLoading" class="loader">
        <mat-spinner></mat-spinner>
        <div>Loading...</div>
    </div>
    <div class="experts-container" *ngIf="!state.isLoading && users.length">
        <h2>Select Your Mock User</h2>
        <mat-grid-list cols="4">
            <mat-grid-tile *ngFor="let user of users">
                <app-user-item [dataSource]="user"></app-user-item>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <div *ngIf="!state.isLoading && !users.length">
        No results.
    </div>

</div>
