<div class="expert-item">
    <h2 class="full-name">{{dataSource.name}} <br><small>{{dataSource.email}}</small></h2>
    <h3 class="specialization">{{dataSource.timezone}}</h3>
    <button class="more-info-btn" (click)="setUser()" [routerLink]="['/experts']">Choose</button>
</div>
