:host {
  .experts-container {
    border: 2px solid black;
  }

  .loader {
    padding: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    > div {
      margin-top: 8px;
    }
    ::ng-deep {
      mat-spinner {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
