<div *ngIf="state.isLoading" class="loader">
  <mat-spinner></mat-spinner>
  <div>Loading...</div>
</div>
<div class="experts-container" *ngIf="!state.isLoading && result.data.length">
  <mat-grid-list cols="2">
    <mat-grid-tile *ngFor="let expert of result.data">
      <app-expert-item [dataSource]="expert"></app-expert-item>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div *ngIf="!state.isLoading && !result.data.length">
  No results.
</div>
