:host {
    .container {
        text-align: center;
    }

    .user-timezone {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    h1 {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    ::ng-deep {
        mat-form-field,
        mat-calendar {
            width: 50%;
        }

        mat-calendar {
            margin-left: auto;
            margin-right: auto;
            background: whitesmoke;
            margin-bottom: 15px;
        }
    }

    button {
        margin-bottom: 15px;
    }
}
