<div class="container">
    <be-in-form [formGroup]="form" (onSubmit)="form.valid && submit()">
        <h1>Select Date</h1>
        <!-- Top main calendar -->
        <div>
            <mat-calendar #calendarElement
                          [minDate]="now"
                          [selected]="form.controls['date'].value"></mat-calendar>
        </div>
        <!-- User timezone -->
        <p class="user-timezone">Timezone: (GMT {{(timezoneOffset > 0 ? '+' : '') + timezoneOffset}}) (User
            Timezone)</p>
        <!-- Duration -->
        <div>
            <app-input-select [form]="form"
                              [control]="'duration'"
                              [label]="'Duration'"
                              [options]="globals.durations"
                              [labelKey]="'label'"
                              [valueKey]="'value'"
                              [required]="true">
            </app-input-select>
        </div>
        <!-- Time slot -->
        <div>
            <app-input-select [form]="form"
                              [control]="'timeSlot'"
                              [label]="'Time Slot'"
                              [options]="timeSlots"
                              [labelKey]="'label'"
                              [valueKey]="'value'"
                              [required]="true">
            </app-input-select>
        </div>
        <!-- Submit -->
        <div>
            <button mat-raised-button color="primary">Submit</button>
        </div>

    </be-in-form>
</div>
