<mat-form-field>
    <mat-label *ngIf="showLabel">{{label}}</mat-label>
    <mat-select *ngIf="!formControl"
                #fieldElement="ngModel"
                [(ngModel)]="value"
                [name]="name"
                [attr.id]="id"
                [attr.placeholder]="placeholder"
                [ngClass]="{disabledInputs: disabled}"
                [attr.disabled]="disabled ? disabled : null"
                [attr.readonly]="readOnly ? readOnly : null"
                [required]="required">
        <mat-option [value]="null"></mat-option>
        <mat-option *ngFor="let option of options" [value]="getValue(option)">
            {{labelKey ? option[labelKey] : option}}
        </mat-option>
    </mat-select>
    <mat-select *ngIf="formControl"
                [formControl]="formControl"
                [attr.id]="id"
                [attr.placeholder]="placeholder"
                [ngClass]="{disabledInputs: disabled}"
                [attr.disabled]="disabled ? disabled : null"
                [attr.readonly]="readOnly ? readOnly : null"
                [required]="required">
        <mat-option [value]="null"></mat-option>
        <mat-option *ngFor="let option of options" [value]="getValue(option)">
            {{labelKey ? option[labelKey] : option}}
        </mat-option>
    </mat-select>
    <mat-hint *ngIf="hint">{{hint}}
    </mat-hint>
    <mat-error be-in-field-errors
               [form]="form"
               [control]="control"
               [label]="label"
               [model]="fieldElement"></mat-error>
</mat-form-field>

