/* You can add global styles to this file, and also import other style files */
* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html, body { background: whitesmoke; height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
