<div>
    <h1>BeInMedia Test - <a target="_blank" href="https://www.linkedin.com/in/abdulrahman-hashem/">Abdulrahman
        Hashem</a></h1>
    <h2>Chosen Timezone: {{user.user.timezone}}</h2>
    <mat-card>
        <mat-card-content>
            <router-outlet></router-outlet>
        </mat-card-content>
    </mat-card>
</div>
