:host {
    text-align: center;

    h1 {
        margin-top: 15px;
    }

    ::ng-deep {
        mat-card {
            margin-left: 30%;
            margin-right: 30%;
            margin-top: 1%;
            padding: 0;
        }
    }
}
